<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name= "System.Data" culture= "neutral" publicKeyToken= "969db8053d3322ac" Retargetable= "Yes"/>
        <bindingRedirect oldVersion= "2.0.0.0" newVersion= "3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name= "System" culture= "neutral" publicKeyToken="969db8053d3322ac" Retargetable= "Yes"/>
        <bindingRedirect oldVersion= "2.0.0.0" newVersion= "3.5.0.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name= "System.Drawing" culture= "neutral" publicKeyToken="969db8053d3322ac" Retargetable= "Yes"/>
        <bindingRedirect oldVersion= "2.0.0.0" newVersion= "3.5.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name= "System.Windows.Forms" culture= "neutral" publicKeyToken="969db8053d3322ac" Retargetable= "Yes"/>
        <bindingRedirect oldVersion= "2.0.0.0" newVersion= "3.5.0.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name= "System.Xml" culture= "neutral" publicKeyToken="969db8053d3322ac" Retargetable= "Yes"/>
        <bindingRedirect oldVersion= "2.0.0.0" newVersion= "3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
