<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>Version 1.0.10</Version>
  <Desc>参数表2014-5-7</Desc>
  <paramSerial>
    <PortName>COM1</PortName>
    <BaudRate>57600</BaudRate>
    <ReadWaitMs>80</ReadWaitMs>
    <ResendCount>1</ResendCount>
  </paramSerial>
  <paramProtocol>
    <M2S>105</M2S>
    <S2M>81</S2M>
    <REQ>66</REQ>
    <ACK>194</ACK>
  </paramProtocol>
  <paramDeviceId>
    <AllSensor>127</AllSensor>
    <Ctrl>128</Ctrl>
    <Debugger>129</Debugger>
    <Monitor>130</Monitor>
    <Other>131</Other>
    <MonitorWireless>136</MonitorWireless>
  </paramDeviceId>
  <paramFormWeight>
    <Interval>500</Interval>
    <DisplayWeightMax>500000</DisplayWeightMax>
    <DisplayWeightMin>-500000</DisplayWeightMin>
    <CarryWeight>1</CarryWeight>
    <TruckWeight>5</TruckWeight>
    <TotalWeight>2</TotalWeight>
    <RtWeight>38</RtWeight>
    <Alarm>8</Alarm>
    <Fault>9</Fault>
    <Online>6</Online>
    <Ip>22</Ip>
    <WirelessCateIndex>0</WirelessCateIndex>
    <OneSensorCateIndex>1</OneSensorCateIndex>
    <CalibCateIndex>2</CalibCateIndex>
    <EverySensorCateIndex>255</EverySensorCateIndex>
    <Status Id="7" Alarm="3" Fault="4" Gps="8" Gprs="9" Stable="2" Zero="10" />
    <RefreshStatus>1</RefreshStatus>
    <RefreshAlarm>1</RefreshAlarm>
    <RefreshFault>1</RefreshFault>
  </paramFormWeight>
  <StatusList>
    <StatusAlarmFault name="车辆行驶" bit="0" />
    <StatusAlarmFault name="装载货物" bit="1" />
    <StatusAlarmFault name="重量稳定" bit="2" />
    <StatusAlarmFault name="车辆报警发生" bit="3" />
    <StatusAlarmFault name="车辆故障发生" bit="4" />
    <StatusAlarmFault name="车辆ACC状态" bit="5" />
    <StatusAlarmFault name="称重标定状态" bit="6" />
    <StatusAlarmFault name="是否标定" bit="7" />
    <StatusAlarmFault name="GPS信号" bit="8" />
    <StatusAlarmFault name="GPRS信号" bit="9" />
    <StatusAlarmFault name="零位" bit="10" />
  </StatusList>
  <AlarmList>
    <StatusAlarmFault name="超载" bit="0" />
    <StatusAlarmFault name="过载" bit="1" />
    <StatusAlarmFault name="偏载" bit="2" />
    <StatusAlarmFault name="丢货" bit="3" />
    <StatusAlarmFault name="超速" bit="4" />
  </AlarmList>
  <FaultList>
    <StatusAlarmFault name="传感器通讯" bit="0" />
    <StatusAlarmFault name="传感器AD" bit="1" />
    <StatusAlarmFault name="传感器电桥" bit="2" />
    <StatusAlarmFault name="CAN总线" bit="3" />
    <StatusAlarmFault name="参数存储" bit="4" />
    <StatusAlarmFault name="数据存储" bit="5" />
    <StatusAlarmFault name="GPS" bit="6" />
    <StatusAlarmFault name="显示接口" bit="7" />
    <StatusAlarmFault name="OBD接口" bit="8" />
    <StatusAlarmFault name="第三方串口" bit="9" />
    <StatusAlarmFault name="IO输入" bit="10" />
    <StatusAlarmFault name="时间" bit="11" />
    <StatusAlarmFault name="GPRS" bit="12" />
  </FaultList>
  <categoryList>
    
    <Category name="系统参数" refresh="1">
      <list>
      
  
        <ParamDefineItem visible="1" read="0" write="1" name="目标重量" unit="" dev_id="128" param_id="50" param_len="4" param_type="Single" valid_min_max="false" min="0" max="0" />
        <ParamDefineItem visible="1" read="0" write="1" name="上偏差" unit="" dev_id="128" param_id="51" param_len="4" param_type="Single" valid_min_max="false" min="0" max="0" />
        <ParamDefineItem visible="1" read="0" write="1" name="下偏差" unit="" dev_id="128" param_id="52" param_len="4" param_type="Single" valid_min_max="false" min="0" max="0" />
        <ParamDefineItem visible="1" read="0" write="1" name="速度" unit="" dev_id="128" param_id="53" param_len="4" param_type="UInt32" valid_min_max="false" min="0" max="0" /> 
        <ParamDefineItem visible="1" read="0" write="1" name="稳定时间" unit="" dev_id="128" param_id="50" param_len="4" param_type="UInt32" valid_min_max="false" min="0" max="0" />
        <ParamDefineItem visible="1" read="0" write="1" name="去皮次数" unit="" dev_id="128" param_id="51" param_len="4" param_type="UInt32" valid_min_max="false" min="0" max="0" />
        <ParamDefineItem visible="1" read="0" write="1" name="AFC" unit="" dev_id="128" param_id="52" param_len="4" param_type="UInt32" valid_min_max="false" min="0" max="0" />
        <ParamDefineItem visible="1" read="0" write="1" name="无组合" unit="" dev_id="128" param_id="53" param_len="4" param_type="UInt32" valid_min_max="false" min="0" max="0" /> 
        <ParamDefineItem visible="1" read="0" write="1" name="放料模式" unit="" dev_id="128" param_id="53" param_len="4" param_type="UInt32" valid_min_max="false" min="0" max="0" /> 
        <ParamDefineItem visible="1" read="0" write="1" name="依次放料" unit="" dev_id="128" param_id="53" param_len="4" param_type="UInt32" valid_min_max="false" min="0" max="0" /> 
        <ParamDefineItem visible="1" read="0" write="1" name="电机模式" unit="" dev_id="128" param_id="53" param_len="4" param_type="UInt32" valid_min_max="false" min="0" max="0" /> 
        <ParamDefineItem visible="1" read="0" write="1" name="多次放料" unit="" dev_id="128" param_id="53" param_len="4" param_type="UInt32" valid_min_max="false" min="0" max="0" /> 
      
      </list>
    </Category>
   
   
    <Category name="控制器信息" refresh="1">
      <list>
        <ParamDefineItem visible="1" read="1" write="0" name="控制器软件版本" unit="" dev_id="128" param_id="26" param_len="4" param_type="UInt32" valid_min_max="false" min="0" max="0" />
        <ParamDefineItem visible="1" read="1" write="0" name="控制器硬件版本" unit="" dev_id="128" param_id="27" param_len="4" param_type="UInt32" valid_min_max="false" min="0" max="0" />
        <ParamDefineItem visible="1" read="1" write="0" name="CPUID" unit="" dev_id="128" param_id="28" param_len="12" param_type="String" valid_min_max="false" min="0" max="0" />
      </list>
    </Category>
  

  </categoryList>
  <plateCharList>
    <PlateChar name="北京" display="京" value="1100" />
    <PlateChar name="上海" display="沪" value="3100" />
    <PlateChar name="天津" display="津" value="1200" />
    <PlateChar name="重庆" display="渝" value="5000" />
    <PlateChar name="香港" display="港" value="8100" />
    <PlateChar name="澳门" display="澳" value="8200" />
    <PlateChar name="台湾" display="台" value="7100" />
    <PlateChar name="河北" display="冀" value="1300" />
    <PlateChar name="山西" display="晋" value="1400" />
    <PlateChar name="内蒙古" display="蒙" value="1500" />
    <PlateChar name="辽宁" display="辽" value="2100" />
    <PlateChar name="吉林" display="吉" value="2200" />
    <PlateChar name="黑龙江" display="黑" value="2300" />
    <PlateChar name="江苏" display="苏" value="3200" />
    <PlateChar name="浙江" display="浙" value="3300" />
    <PlateChar name="安徽" display="皖" value="3400" />
    <PlateChar name="福建" display="闽" value="3500" />
    <PlateChar name="江西" display="赣" value="3600" />
    <PlateChar name="山东" display="鲁" value="3700" />
    <PlateChar name="河南" display="豫" value="4100" />
    <PlateChar name="湖北" display="鄂" value="4200" />
    <PlateChar name="湖南" display="湘" value="4600" />
    <PlateChar name="广东" display="粤" value="4400" />
    <PlateChar name="广西" display="桂" value="4500" />
    <PlateChar name="海南" display="琼" value="4600" />
    <PlateChar name="四川" display="川" value="5100" />
    <PlateChar name="贵州" display="贵" value="5200" />
    <PlateChar name="云南" display="云" value="5300" />
    <PlateChar name="西藏" display="藏" value="5400" />
    <PlateChar name="陕西" display="陕" value="6100" />
    <PlateChar name="甘肃" display="甘" value="6200" />
    <PlateChar name="宁夏" display="宁" value="6400" />
    <PlateChar name="青海" display="青" value="6300" />
    <PlateChar name="新疆" display="新" value="6500" />
  </plateCharList>
</Config>